body {
  margin: 0px;
  overflow: hidden;
  background-color: #f9f9f9;
  display: flex;
  font-family: "museo-slab", serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  max-width: 770px;
  margin: auto;
  text-shadow: 1px 1px 1px #979797;
  position: relative;
  color: #f9f9f9;
}

h2, h3, h5 {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 3em;
}
h3{
  font-weight: 300;
  font-size: 2em;
}
h5 {
  font-size: 1em
}
a {
  color: #f9f9f9;
  text-decoration: none;
}


::-webkit-scrollbar {
    display: none;
}

.cloak {
  visibility: hidden;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color:rgba(55, 55, 55, .5);
  min-height: 80px;
  height: 10vh;
  flex: 1;
  position: absolute;
  width: 100%;
  z-index: 1000000;
  box-shadow: 0 0 2px #575757;
  text-shadow: 1px 1px 1px #979797;
  color: #f9f9f9;
}

#header div {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#logo {
  position: relative;
}
#logo img {
  height: 10vh;
  width: 10vh;
}
#name {
  font-weight: 700
}

#lobbyLink {
  font-size: 2em;
}

#sup {
  font-size: 1.5vh;
  white-space: nowrap;
  cursor: url(assets/rem-cursor.png) x y, auto;;
}

#modal {
  position: absolute;
  z-index: 100000;
  width: 70vw;
  height: 40vh;
  top: 18vh;
  margin-left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255,255,255, .9);
  box-shadow: 0 0 1px #ffffff;
  border-radius: 5px;
  color: black;
  display: flex;
}

#modalContent {
  width: 80%;
  height: 80%;
  margin: auto;
  word-wrap: break-word;
}

#modalContent textarea {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  font-family: "museo-slab", serif;
  -webkit-appearance: none;
  resize: none;
}

#header span, #header div {
  margin: auto;
}

#installContainer {
  color: #f9f9f9;
  overflow-y: scroll;
  height: 80vh;
  position: relative;
  box-shadow: 0 0 1px #171717;
  z-index: 3;
}

#installs {
  position: absolute;
  height: 100%;
  display: flex;
}

.install {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.installBackground {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.previewPic{
  height: 100%;
  width: 100%;
  position: absolute;
}

#installNav {
  display: flex;
  height: 20vh;
  position: absolute;
  width: 100vw;
  top: 80vh;
  z-index: 0;
}

#remIconArea {
  display: none;
}

#installMiniContainer {
  margin: auto;
  height: 100%;
  width: 100%;
  max-height: 15vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.installMini {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  cursor: pointer;
}

.activeInstall {
  -webkit-filter: blur(3px) grayscale(30%);
}
.activeInstallMini {
  -webkit-filter: blur(1px);
}

.installMini:hover {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.installDetails {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  text-shadow: 1px 1px 1px #575757;
}

#example {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.slideButtonContainer {
  position: absolute;
  display: flex;
  top: 55%;
  transform: translate(0, -100%);
  z-index: 5;
}
#slideNextContainer {
  right: 0px;
}
.slideButton {
  width: 6vh;
  min-width: 80px;
  border-radius: 50%;
  opacity: .8;
  margin: auto;

  -webkit-animation: phase 2s infinite; /* Safari 4+ */
  -moz-animation:    phase 2s infinite; /* Fx 5+ */
  -o-animation:      phase 2s infinite; /* Opera 12+ */
  animation:         phase 2s infinite; /* IE 10+, Fx 29+ */
}

#slideDown {
  position: absolute;
  z-index: 5000;
  right: 2vw;
  top: 2vw;
  width: 4vh;
  min-width: 50px;
  max-width: ;
  opacity: 0;

  -webkit-animation: off-phase 2s infinite; /* Safari 4+ */
  -moz-animation:    off-phase 2s infinite; /* Fx 5+ */
  -o-animation:      off-phase 2s infinite; /* Opera 12+ */
  animation:         off-phase 2s infinite; /* IE 10+, Fx 29+ */
}

.slideButton img {
  width: 100%;
}

.titleArtist {
  position: absolute;
  left: 20px;
  top: 10px;
}

.label {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.playButton {
  position: relative;
  height: 40vw;
  max-height: 200px;
  width: 40vw;
  max-width: 200px;
  margin: auto;
  z-index: 4;
  cursor: pointer;
}

.playButton img {
  width: 100%;
}

.exitButton {
  margin: auto;
  z-index: 4;
  text-align: center;
  font-size: 2vh;
}

.exitButton img {
  width: 30vw;
  max-height: 175px;
  max-width: 175px;
  cursor: pointer;
  margin: 0 auto;
}

.shareButton {
  height: 8vw;
  width: 8vw;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
  cursor: pointer;
  opacity: .8
}

.shareButton img {
  width: 100%;
  margin: 0;
}

.active {
  -webkit-filter: blur(1px);
}

.lobbyInstallDetails {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lobbyInstallDetails div {
  z-index: 100000;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

#header.ng-enter, #header.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

#header.ng-enter,
#header.ng-leave.ng-leave-active {
  top: -10vh;
}

#header.ng-leave,
#header.ng-enter.ng-enter-active {
  top: 0;
}

@-webkit-keyframes phase {
  0%   { opacity: .8; }
  50% { opacity: 0; }
  100% { opacity: .8 }
}
@-moz-keyframes phase {
  0%   { opacity: .8; }
  50% { opacity: 0; }
  100% { opacity: .8 }
}
@-o-keyframes phase {
  0%   { opacity: .8; }
  50% { opacity: 0; }
  100% { opacity: .8 }
}
@keyframes phase {
  0%   { opacity: .8; }
  50% { opacity: 0; }
  100% { opacity: .8 }
}

@-webkit-keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}
@-moz-keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}
@-o-keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}
@keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}


@-webkit-keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}
@-moz-keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}
@-o-keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}
@keyframes off-phase {
  0%   { opacity: 0; }
  50% { opacity: .8; }
  100% { opacity: 0 }
}

#inInstallDetails {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #f9f9f9;
  z-index: 2
}

@media (min-width: 770px), only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape) {
  main, .install, .installDetails {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
  }

  #installContainer {
    color: #f9f9f9;
    overflow-y: scroll;
    height: 100vh;
    width: 80vw;
    position: relative;
    box-shadow: 0 0 1px #171717;
    z-index: 3;
  }

  #installs {
    position: absolute;
    height: 100%;
    display: flex;
  }

  .install {
    width: 80vw;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  #installNav {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    position: relative;
    width: 20vw;
    top: 0;
    left: 0;
    justify-content: space-between;
    overflow-y: scroll;
  }

  #installMiniContainer {
    margin: auto;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .installMini {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
  }

  #remIconArea {
    background: #373737;
    display: flex;
    width: 100%;
    height: 20%;
    position: relative;
  }

  #remIconArea a{
    width: 10vw;
    height: 10vw;
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    background-image: url("/assets/brand/rem-eye-trans.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

