body {
  margin: 0px;
  overflow: hidden;
  background-color: #dcddde;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "museo",serif;
  color: white;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

::-webkit-scrollbar {
    display: none;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color:rgba(220, 221, 222, 0.5);
  min-height: 8vh;
  flex: 1;
  position: absolute;
  width: 100%;
  z-index: 1000000;
  box-shadow: 0 0 1.2vw #171717;
}

#installContainer {
  color: white;
  overflow-y: scroll;
  height: 80vh;
  position: relative;
  box-shadow: 0 0 1.2vw #171717;
}

#installs {
  position: absolute;
  height: 100%;
  display: flex;
}

.install {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.previewPic{
  height: 100%;
  width: 100%;
  position: absolute;
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  min-height: 13vh;
  max-height: 150px;
  flex: 1;
  bottom: 0;
  z-index: 0;
}

.installMini {
  height: 15vh;
  width: 100%;
  min-height: 13vh;
  min-width: 13vh;
  max-height: 150px;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  -webkit-transition: -webkit-filter .05s linear;
  transition: filter .05s linear;
  cursor: pointer;
}

.installMini:hover {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

h2, h3, h5 {
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

#logo a {
  color: black;
}

.installDetails {
  position: absolute;
  width: 100%;
  height: 100%;
}

#example {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#slideButtonsContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translate(0, -100%);
}
.slideButton {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  opacity: .7
}
.slideButton:hover {
  color: black;
}

#slideDown {
  position: absolute;
  z-index: 5000;
  right: 1vw;
}

.slideButton img {
  width: 100%;
}

@keyframes phasing {
  from { opacity: .7 }
  to { opacity: 0 }
}
@-webkit-keyframes phasing {
  from { opacity: .7 }
  to { opacity: 0 }
}

.titleArtist {
  position: absolute;
}

.label {
  position: absolute;
  bottom: 1vw;
  left: 1vw;
}

.playButton {
  height: 40vw;
  max-height: 200px;
  width: 40vw;
  max-width: 200px;
  margin: auto;
  margin-top: 50%;
  transform: translate(0, -100%);
  z-index: 999999999;
  cursor: pointer;
}

.playButton img {
  width: 100%;
}

.exitButton {
  height: 40vw;
  max-height: 200px;
  width: 40vw;
  max-width: 200px;
  margin: auto;
  margin-top: 50%;
  transform: translate(0, -100%);
  z-index: 999999999;
  text-align: center
}

.exitButton img {
  width: 75%;
  cursor: pointer;
}

.shareButton {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}

.shareButton img {
  width: 100%;
  margin: 0;
}

.active {
  -webkit-filter: blur(1px);
}
