body {
  margin: 0px;
  overflow: hidden;
  background-color: peachpuff;
}
#example {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

header {
  display: flex;
  justify-content: space-between;
  /*z-index: 1000;*/
}

h2, h3 {
  padding: 0;
  margin: 0;
}

#installContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}

.install {
  width: 100%;
}
