<!DOCTYPE html>
<html lang="en" ng-app="gallery">
<head>
  <meta charset="UTF-8">
  <title>REM.ART</title>
  <link rel="stylesheet" type="text/css" href="css/gallery.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
  <script src="js/third-party/threejs/StereoEffect.js"></script>
  <script src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script src="js/third-party/threejs/OrbitControls.js"></script>

  <script src="https://use.typekit.net/wgd4dth.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body ng-controller="GalleryController as gallery" rem-resize>
    <div ng-show="(!gallery.displayHeader)"
         ng-click="gallery.displayHeader = true"
         id="slideDown" class="slideButton">
      <img src="https://i.imgur.com/56x48Bt.png">
    </div>
    <div id="header"
         ng-show="gallery.displayHeader"
         ng-class="{'slideMenu': gallery.displayHeader}"
         ng-click="gallery.displayHeader = false">
      <div id="logo" ng-click="gallery.displayFooter = true">
        <a ui-sref="home"><img src="https://i.imgur.com/Sc6AgW8.png"></a>
      </div>
      <div id="sup"><span>{{gallery.message}}<span></div>
      <div id="menu"><span>menu<span></div>
    </div>

    <ui-view></ui-view>

    <div id="footer" ng-show="gallery.displayFooter">
      <div class="installMini"
           ng-repeat="install in gallery.installs"
           ng-class="{'activeInstallMini': $index === gallery.selectedInstall.index}"
           ng-click="gallery.setSelectedInstall($index);
                     gallery.setInstallPath(install.pathName);
                     (gallery.installIsSelected = true);
                     gallery.$log.log(gallery.selectedInstall)"
           style="background-image: url({{install.previewPic}})">
      </div>
    </div>
</body>

  <script src="js/gallery.js"></script>
  <script src="js/remResize.directive.js"></script>
  <script src="js/installs/installs.dataservice.js"></script>
  <script src="js/controllers/gallery.controller.js"></script>
  <script src="js/controllers/install.controller.js"></script>
  <script src="js/controllers/home.controller.js"></script>
</html>
