<!DOCTYPE html>
<html lang="en" ng-app="gallery">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimal-ui">
  <title>rem</title>
  <link rel="stylesheet" type="text/css" href="css/gallery.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
  <script src="js/third-party/threejs/Detector.js"></script>
  <script src="js/third-party/threejs/StereoEffect.js"></script>
  <script src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script src="js/third-party/threejs/OrbitControls.js"></script>
  <script src="js/third-party/threejs/TextGeometry.js"></script>
  <script src="js/third-party/threejs/FontUtils.js"></script>

  <script src="https://use.typekit.net/atj2gva.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body id="gallery"
      ng-controller="GalleryController as gallery"
      rem-resize
      ng-click="gallery.showModal = false">
  <div ng-show="(!gallery.displayHeader)"
       ng-click="gallery.displayHeader = true"
       id="slideDown" class="slideButton">
    <img src="https://i.imgur.com/56x48Bt.png">
  </div>
  <div id="header"
       ng-if="gallery.displayHeader"
       ng-class="{'slideMenu': gallery.displayHeader}"
       ng-click="gallery.displayHeader = false">
    <div id="logo"
         onclick="stopAudio(); clearAudio()"
         ng-click="gallery.goHome()">
      <a ui-sref="home"><h3 id="name">main</h3></a>
    </div>
    <div id="sup"><span>{{gallery.message}}<span></div>
    <div id="lobbyLink">
      <span>
        <a ng-click="gallery.deselectInstall(); gallery.leaveHome()"
           ui-sref="lobby"
           onclick="stopAudio(); clearAudio()"
           style="background-image: url('assets/brand/rem-eye-trans.png');">
        lobby
        </a>
      <span>
    </div>
  </div>

  <div id="modal"
       ng-if="gallery.showModal"
       ng-click="$event.stopPropagation()"
       class="animate-if">
    <div id="modalContent">
      <p>
        {{gallery.modalTop}}
      </p>
      <textarea onclick="this.select()" readonly="readonly">{{gallery.modalBottom}}</textarea>
    </div>
  </div>

  <div id="installNav">
    <div id="remIconArea">
      <a ng-click="gallery.deselectInstall(); gallery.displayFooter = false"
         ui-sref="lobby"
         onclick="stopAudio(); clearAudio()">
      </a>
    </div>
    <div id="installMiniContainer">
      <div class="installMini"
           id="installMini{{$index}}"
           ng-repeat="install in gallery.installs"
           ng-class="{'activeInstallMini': $index === gallery.selectedInstall.index}"
           ng-click="gallery.scrollToInstall(install.pathName);
                     gallery.setSelectedInstall($index);
                     gallery.setInstallPath(install.pathName);
                     gallery.installIsSelected = true"
           style="background-image: url({{install.previewPic}})">
      </div>
    </div>
  </div>

  <ui-view></ui-view>

  <audio id="installAudio" loop ng-src="{{gallery.installAudioPath}}"></audio>
  <script>
    var audio = document.getElementById("installAudio");
    function loadAudio() {
      audio.load();
      console.log("audio loaded: " + audio.src)
    }
    function playAudio() {
      audio.play();
      console.log("playing audio: " + audio.src)
    }
    function stopAudio() {
      audio.removeEventListener("canplaythrough", playAudio, false);
      audio.pause();
      audio.currentTime = 0;
    }
    function clearAudio() {
      audio.setAttribute("src", "");
    }
  </script>

</body>

  <script src="js/gallery.js"></script>
  <script src="js/remResize.directive.js"></script>
  <script src="js/remRepeat.directive.js"></script>
  <script src="js/installs/installs.dataservice.js"></script>
  <script src="js/controllers/gallery.controller.js"></script>
  <script src="js/controllers/install.controller.js"></script>
  <script src="js/controllers/home.controller.js"></script>

</html>
