  <div id="lobbyInstall{{$index}}"
       on-finish-render="lobbyLoaded"
       ng-repeat="install in gallery.installs"
       ng-click="gallery.setSelectedInstall($index);
                 gallery.setInstallPath(install.pathName);
                 (gallery.installIsSelected = !gallery.installIsSelected)">
    <div class="lobbyPlayButton"
         ng-click="$event.stopPropagation()">
      <a id="playButton{{$index}}"
         ng-click="gallery.displayFooter = false"
         ui-sref="install({title: '{{install.pathName}}'})">
      </a>
    </div>

    <div class="lobbyInstallDetails"
         ng-if="$index === gallery.selectedInstall.index"
         ng-click="gallery.deselectInstall();
                   gallery.displayHeader = false;
                   $event.stopPropagation()">
        <div class="titleArtist">
          <h2>
            {{install.title}}
          </h2>
          <h3>{{install.artist}}</h3>
        </div>

        <div class="label">
          <h5>{{install.geo}}</h5>
          <h5>{{install.date}}</h5>
          <h5>{{install.tech}}</h5>
        </div>
    </div>
  </div>

<div id="example"></div>

<script>

var selectedInstall = angular.element(document.getElementById('gallery')).scope().gallery.selectedInstall;
var deselectInstall = angular.element(document.getElementById('gallery')).scope().gallery.deselectInstall;
var lobbyInstalls = [];
var lobbyPreviews = [];
var lobbyPlayButtons = [];
var lobbyNavButtons = [];

var cursor;

var autoClick = function() {
  angular.element(this).triggerHandler('click');
}

var camera, scene, renderer;
var effect, controls;
var element, container;

var raycaster = new THREE.Raycaster();

var clock = new THREE.Clock();

init();
animate();

function createLobbyInstalls() {
  var installsPromise = new Promise(function(resolve, reject) {
    for (var i = 0; i < 4; i++) {
      lobbyInstalls[i] = document.getElementById("lobbyInstall" + i);
      lobbyInstalls[i].playButton = document.getElementById("playButton" + i);
    }

    if (lobbyInstalls.length > 0) {
      resolve(lobbyInstalls);
    } else {
      reject(Error("trouble loading previews"));
    }
  });

  installsPromise.then(
    function(result) {
      createPreviews();
    }, function(err) {
      console.log(err);
    }
  ).then(
    function(result) {
      createPlayButtons()
    }, function(err) {
      console.log(err);
    }
  )
}

function createPreviews() {
  var geometry = new THREE.PlaneGeometry(400, 100);
  var material;
  var loader = new THREE.TextureLoader();

  for (var i = 0; i < lobbyInstalls.length; i++) {
    (function(i) {
      lobbyInstalls[i].lobbyPreview = new THREE.Mesh(geometry, material);
      lobbyInstalls[i].lobbyPreview.position.y = 72;
      if (i === 0) {
        lobbyInstalls[i].lobbyPreview.position.x = 450;
        lobbyInstalls[i].lobbyPreview.position.z = 0;
        lobbyInstalls[i].lobbyPreview.rotation.y = -Math.PI / 2;
      } else if (i === 1) {
        lobbyInstalls[i].lobbyPreview.position.x = 200;
        lobbyInstalls[i].lobbyPreview.position.z = -450;
      } else if (i === 2) {
        lobbyInstalls[i].lobbyPreview.position.x = -200;
        // lobbyInstalls[i].lobbyPreview.position.z = 490;
        lobbyInstalls[i].lobbyPreview.rotation.y = -Math.PI / 2;
      } else if (i === 3) {
        lobbyInstalls[i].lobbyPreview.position.x = -480;
        // lobbyInstalls[i].lobbyPreview.position.z = 490;
        lobbyInstalls[i].lobbyPreview.rotation.y = -Math.PI / 2;
      }

      loader.load(

        angular.element(document.getElementById('gallery')).scope().gallery.installs[i].previewPic,

        function ( texture ) {
          lobbyInstalls[i].lobbyPreview.material = new THREE.MeshBasicMaterial({
            color: 0xffffff,
            side: THREE.DoubleSide,
            map: texture
          });

        },

        function ( xhr ) {
          console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
        },

        function ( xhr ) {
          console.log( 'error loading preview for install preview' );
        }
      );

    lobbyPreviews.push(lobbyInstalls[i].lobbyPreview);
    scene.add(lobbyPreviews[i]);
    lobbyInstalls[i].autoClick = autoClick;
    })(i);

  }
}

function createPlayButtons() {
  var lobbyInstallPlayGeo = new THREE.PlaneBufferGeometry(10, 10);
  var lobbyInstallPlayMat = new THREE.MeshBasicMaterial({color:0xff, side: THREE.DoubleSide})
  for (var i = 0; i < lobbyInstalls.length; i ++) {
    var parent = lobbyInstalls[i].lobbyPreview;

    var button = new THREE.Mesh(lobbyInstallPlayGeo, lobbyInstallPlayMat);
    button.position.y = parent.position.y;
    button.position.x = parent.position.x;
    button.position.z = parent.position.z;
    button.rotation.y = parent.rotation.y;
    button.rotation.x = parent.rotation.x;
    button.rotation.z = parent.rotation.z;

    parent.playButton = button;

    lobbyInstalls[i].playButton.autoClick = autoClick;

    lobbyPlayButtons.push(button);

    scene.add(lobbyPlayButtons[i]);

  }
}

function createNavButtons() {
  var stillButtonGeo = new THREE.PlaneBufferGeometry(100, 50);
  var stillButtonMat = new THREE.MeshBasicMaterial({color: 0xff0000, side: THREE.DoubleSide})
  var stillButton = new THREE.Mesh(stillButtonGeo, stillButtonMat);
  stillButton.position.z = 450;
  stillButton.position.x = 200;
  stillButton.position.y = 60;

  lobbyNavButtons.push(stillButton);

  var liveButtonGeo = new THREE.PlaneBufferGeometry(100, 50);
  var liveButtonMat = new THREE.MeshBasicMaterial({color: 0x00ff00, side: THREE.DoubleSide})
  var liveButton = new THREE.Mesh(liveButtonGeo, liveButtonMat);
  liveButton.position.z = 450;
  liveButton.position.x = -300;
  liveButton.position.y = 60;

  lobbyNavButtons.push(liveButton);

  scene.add(stillButton);
  scene.add(liveButton);

}

function createFloor() {
  var geometry = new THREE.PlaneGeometry(1000, 1000);
  var material = new THREE.MeshPhongMaterial({
    color: 0xffffff,
    specular: 0xff0000,
    shininess: 0,
    shading: THREE.FlatShading,
    side: THREE.DoubleSide
  });
  var bump;
  var loader = new THREE.TextureLoader();
  var bumpLoader = new THREE.TextureLoader();

  loader.load(

    'templates/lobby/textures/patterns/wood.jpg',

    function ( texture ) {

      material.map = texture;
        // bumpMap: bump,
        // bumpScale: 1,


      console.log(material.bumpMap)
      console.log(material.map)

      // bump.wrapS = THREE.RepeatWrapping;
      // bump.wrapT = THREE.RepeatWrapping;
      // bump.repeat = new THREE.Vector2(6, 6);
      // bump.anisotropy = renderer.getMaxAnisotropy();

      texture.wrapS = THREE.RepeatWrapping;
      texture.wrapT = THREE.RepeatWrapping;
      texture.repeat = new THREE.Vector2(6, 6);
      texture.anisotropy = renderer.getMaxAnisotropy();

      var mesh = new THREE.Mesh(geometry, material);
      mesh.rotation.x = -Math.PI / 2;
      scene.add(mesh);

    },

    function ( xhr ) {
      console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
    },

    function ( xhr ) {
      console.log( 'error loading floor' );
    }

  );

  bumpLoader.load(
    'templates/lobby/textures/patterns/woodBump.jpg',

    function (texture) {
      material.bumpMap = texture;
      material.bumpScale = 1;

      texture.wrapS = THREE.RepeatWrapping;
      texture.wrapT = THREE.RepeatWrapping;
      texture.repeat = new THREE.Vector2(6, 6);
      texture.anisotropy = renderer.getMaxAnisotropy();
    },

    function ( xhr ) {
      console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
    },

    function ( xhr ) {
      console.log( 'error loading floor' );
    }

  );
}

function createCeiling() {
  var geometry = new THREE.PlaneGeometry(1000, 1000);
  var material;
  var smap = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/33170/specular_map.jpg"
  var loader = new THREE.TextureLoader();

  loader.load(

    'templates/lobby/textures/patterns/wall.jpg',

    function ( texture ) {
      material = new THREE.MeshPhongMaterial({
        color: 0xffffff,
        specular: 0xffffff,
        shininess: 0,
        shading: THREE.FlatShading,
        map: texture,
        side: THREE.DoubleSide
      });

      texture.wrapS = THREE.RepeatWrapping;
      texture.wrapT = THREE.RepeatWrapping;
      texture.repeat = new THREE.Vector2(1, 1);
      texture.anisotropy = renderer.getMaxAnisotropy();

      var mesh = new THREE.Mesh(geometry, material);
      mesh.rotation.x = Math.PI / 2;
      mesh.position.y = 144;

      scene.add(mesh);

    },

    function ( xhr ) {
      console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
    },

    function ( xhr ) {
      console.log( 'error loading ceiling' );
    }

  );

}

function createWalls() {
  var walls = [];
  var geometry = new THREE.PlaneGeometry(1000, 144);
  var material;
  var loader = new THREE.TextureLoader();

  loader.load(

    'templates/lobby/textures/patterns/wall.jpg',

    function ( texture ) {
      material = new THREE.MeshPhongMaterial({
        color: 0xffffff,
        specular: 0xffffff,
        shininess: 0,
        shading: THREE.FlatShading,
        map: texture,
        side: THREE.DoubleSide
      });

      texture.wrapS = THREE.RepeatWrapping;
      texture.wrapT = THREE.RepeatWrapping;
      texture.repeat = new THREE.Vector2(1, 1);
      texture.anisotropy = renderer.getMaxAnisotropy();

      for (var i = 0; i < 4; i++) {
        walls[i] = new THREE.Mesh(geometry, material)
        walls[i].position.y = 72;
      }

      walls[0].position.z = 500;
      walls[1].position.x = 500;
      walls[1].rotation.y = -Math.PI / 2;
      walls[2].position.z = -500;
      walls[3].position.x = -500;
      walls[3].rotation.y = -Math.PI / 2;

      walls[4] = new THREE.Mesh(
        new THREE.BoxGeometry(20, 144, 800),
        new THREE.MeshPhongMaterial({
          color: 0xffffff,
          specular: 0xffffff,
          shininess: 0,
          shading: THREE.FlatShading,
          map: texture,
        })
      );
      walls[4].position.set(-150, 72, -100);

      walls.forEach(function(wall) {
        scene.add(wall);
      });
    },

    function ( xhr ) {
      console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
    },

    function ( xhr ) {
      console.log( 'error loading walls' );
    }
  );
}

function setOrbitControls() {
  controls.rotateUp(Math.PI / 4);
  controls.target.set(
    camera.position.x + .05,
    camera.position.y,
    camera.position.z
  );
}

function moveCamera(x, y, z) {
  camera.position.set(x, y, z);
  setOrbitControls();
}

function addLogo() {
  var geometry = new THREE.PlaneBufferGeometry(.15*camera.position.y, .15*camera.position.y);
  var material;
  var logo;
  var loader = new THREE.TextureLoader();

  loader.load(
    'assets/brand/rem-radha-ball.png',

    function ( texture ) {
      material = new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        map: texture
      });
      logo = new THREE.Mesh(geometry, material);
      logo.position.set(camera.position.x, (camera.position.y - .5*camera.position.y), camera.position.z);
      logo.rotation.x = -Math.PI / 2;
      logo.rotation.z = -Math.PI / 2;
      scene.add(logo);
    },

    function ( xhr ) {
      console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
    },

    function ( xhr ) {
      console.log( 'error loading preview for install preview' );
    }
  );
}

function addCursor() {
  var geometryL = new THREE.RingGeometry(.1, .11, 32);
  var materialL = new THREE.MeshBasicMaterial({color: 0xffffff, transparent: true, opacity: .5});
  cursorL = new THREE.Mesh(geometryL, materialL);
  cursorL.position.z = -1;
  cursorL.position.x = -1.5;
  camera.add(cursorL);

  var geometryR = new THREE.RingGeometry(.1, .11, 32);
  var materialR = new THREE.MeshBasicMaterial({color: 0xffffff, transparent: true, opacity: .5});
  cursorR = new THREE.Mesh(geometryR, materialR);
  cursorR.position.z = -1;
  cursorR.position.x = 1.5;
  camera.add(cursorR);

}

function createLights() {

  var liveLights = [];
  var stillLights = [];

  for (var i = 0; i < 5; i++) {
    liveLights[i] = new THREE.PointLight(0x404040, 1, 500);
    liveLights[i].position.set(250, 144, (-250 + 250*i));
    scene.add(liveLights[i]);
  }

  for (var i = 0; i < 5; i++) {
    stillLights[i] = new THREE.PointLight(0x404040, 1, 500);
    stillLights[i].position.set(-300, 144, (-250 + 250*i));
    scene.add(stillLights[i]);
  }

  var ambientLight = new THREE.AmbientLight(0x999999);
  console.log(ambientLight);
  scene.add(ambientLight)

}

function init() {
  renderer = Detector.webgl? new THREE.WebGLRenderer(): new THREE.CanvasRenderer();
  renderer.autoClear = true;
  element = renderer.domElement;
  container = document.getElementById('example');
  container.appendChild(element);

  effect = new THREE.StereoEffect(renderer);

  scene = new THREE.Scene();

  camera = new THREE.PerspectiveCamera(90, 1, .0001, 7000);
  camera.position.set(100, 70, 0);

  scene.add(camera);

  controls = new THREE.OrbitControls(camera, element);
  controls.noZoom = true;
  controls.noPan = true;
  setOrbitControls();

  function setOrientationControls(e) {
    if (!e.alpha) {
      return;
    }

    controls = new THREE.DeviceOrientationControls(camera, true);
    controls.connect();
    controls.update();

    element.addEventListener('click', fullscreen, false);

    window.removeEventListener('deviceorientation', setOrientationControls, true);
  }
  window.addEventListener('deviceorientation', setOrientationControls, true);

  createFloor();
  createCeiling();
  createWalls();
  createNavButtons();
  createLights();

  window.addEventListener('resize', resize, false);
  setTimeout(resize, 1);

  addLogo();

  addCursor();

}

function resize() {
  var width = container.offsetWidth;
  var height = container.offsetHeight;

  camera.aspect = width / height;
  camera.updateProjectionMatrix();

  renderer.setSize(width, height);
  effect.setSize(width, height);
}

function update(dt) {
  resize();

  camera.updateProjectionMatrix();

  controls.update(dt);
}

function render(dt) {
  // selectedInstall = angular.element(document.getElementById("gallery")).scope().gallery.selectedInstall;
  // console.log(selectedInstall);

  effect.render(scene, camera);
  var vector = new THREE.Vector3(0, 0, -1);
  vector.applyQuaternion( camera.quaternion ).add(camera.position);

  raycaster.set( camera.position, vector.sub( camera.position ).normalize(), .0001, 700 );
  var installIntersects = raycaster.intersectObjects( lobbyPreviews );
  var playButtonIntersects = raycaster.intersectObjects( lobbyPlayButtons );
  var navButtonIntersects = raycaster.intersectObjects( lobbyNavButtons );
    if (installIntersects[0]) {
      // if (selectedInstall.title === undefined) {
      //   selectedInstall = angular.element(document.getElementById("gallery")).scope().gallery.selectedInstall;
      //   console.log(selectedInstall.title);
      // }
      lobbyInstalls.forEach(function(install) {
        if (installIntersects[0].object === install.lobbyPreview) {
          install.autoClick()
        }
      })
    } else {
      // if (selectedInstall.title) {
        // deselectInstall();
      //   selectedInstall = angular.element(document.getElementById("gallery")).scope().gallery.selectedInstall;
      //   console.log(selectedInstall.title);
      // }
    }

    if (playButtonIntersects[0]) {
      lobbyInstalls.forEach(function(install) {
        if (playButtonIntersects[0].object === install.lobbyPreview.playButton) {
          install.playButton.autoClick();
        }
      })
    }

    if (navButtonIntersects[0]) {
      if (navButtonIntersects[0].object === lobbyNavButtons[0]) {
        moveCamera(-350, 70, 0);
      } else if (navButtonIntersects[0].object === lobbyNavButtons[1]) {
        moveCamera(100, 70, 0);
      }
    } else {
    }

}

function animate(t) {
  requestAnimationFrame(animate);

  update(clock.getDelta());
  render(clock.getDelta());
}

function fullscreen() {
  if (container.requestFullscreen) {
    container.requestFullscreen();
  } else if (container.msRequestFullscreen) {
    container.msRequestFullscreen();
  } else if (container.mozRequestFullScreen) {
    container.mozRequestFullScreen();
  } else if (container.webkitRequestFullscreen) {
    container.webkitRequestFullscreen();
  }
}

// javascript:(function(){var script=document.createElement('script');script.onload=function(){var stats=new Stats();stats.domElement.style.cssText='position:fixed;left:0;top:0;z-index:10000';document.body.appendChild(stats.domElement);requestAnimationFrame(function loop(){stats.update();requestAnimationFrame(loop)});};script.src='//rawgit.com/mrdoob/stats.js/master/build/stats.min.js';document.head.appendChild(script);})()
</script>
