<div id="installContainer">
  <div id="installs" class="slide {{gallery.slidePosition}}">
    <div class="install"
         ng-repeat="install in gallery.installs"
         ng-click="gallery.setSelectedInstall($index);
                   gallery.setInstallPath(install.pathName);
                   (gallery.installIsSelected = !gallery.installIsSelected)">
      <div class="installBackground"
           ng-class="{'activeInstall': $index === gallery.selectedInstall.index}"
           style="background-image: url({{install.previewPic}})"></div>
      <div class="installDetails"
           ng-if="$index === gallery.selectedInstall.index"
           ng-click="gallery.deselectInstall();
                     gallery.displayHeader = false;
                     $event.stopPropagation()">

          <div class="titleArtist">
            <h2>
              {{install.title}}
            </h2>
            <h3>{{install.artist}}</h3>
          </div>

          <div class="playButton"
               onclick="loadAudio()"
               ng-click="$event.stopPropagation()">
            <a ng-click="gallery.displayFooter = false;
                         gallery.$log.log(1+1)"
               ui-sref="install({title: '{{install.title}}'})">
              <img src="https://i.imgur.com/tf6oy2w.png">
            </a>
          </div>

          <div class="label">
            <h5>{{install.geo}}</h5>
            <h5>{{install.date}}</h5>
            <h5>{{install.tech}}</h5>
          </div>

          <div class="shareButton">
            <img src="https://i.imgur.com/yT0s902.png">
          </div>

      </div>
    </div>
  </div>
  <div id="slideButtonsContainer" ng-if="!gallery.installIsSelected">
    <div id="slideBack"
         class="slideButton"
         ng-click="gallery.installIsSelected = false;">
        <img src="https://i.imgur.com/u5JaP98.png">
    </div>
    <div id="slideNext"
         class="slideButton"
         ng-click="gallery.installIsSelected = false;">
      <img src="https://i.imgur.com/qG16kOz.png">
    </div>
  </div>
</div>

<div id="footer" ng-show="gallery.displayFooter">
  <div class="installMini"
       ng-repeat="install in gallery.installs"
       ng-class="{'activeInstallMini': $index === gallery.selectedInstall.index}"
       ng-click="gallery.setSelectedInstall($index);
                 gallery.setInstallPath(install.pathName);
                 (gallery.installIsSelected = true);
                 gallery.$log.log(gallery.selectedInstall);
                 gallery.scrollToInstall()"
       style="background-image: url({{install.previewPic}})">
  </div>
</div>
