<ng-include src="gallery.selectedInstall.path"></ng-include>

<div class="installDetails"
     id="inInstallDetails"
     ng-show="install.showDetails()">

    <div class="titleArtist">
      <h2>
        {{gallery.selectedInstall.title}}
      </h2>
      <h3>{{gallery.selectedInstall.artist}}</h3>
    </div>

    <div class="exitButton"
         onclick="stopAudio(); clearAudio()"
         ng-click="$event.stopPropagation()">
      <a ng-click="gallery.goHome()"
         ui-sref="home">
        <img src="https://i.imgur.com/03p5Lbk.png">
      </a>
      <br>landscape to resume
    </div>

    <div class="label">
      <h3>{{gallery.selectedInstall.geo}}</h3>
      <h5>{{gallery.selectedInstall.date}}</h5>
      <h5>{{gallery.selectedInstall.tech}}</h5>
      <h5 ng-if="gallery.selectedInstall.av">{{gallery.selectedInstall.av}}</h5>
    </div>

    <div class="shareButton"
         ng-click="$event.stopPropagation();
                   gallery.$log.log(gallery.$location.$$absUrl);
                   gallery.setModal( gallery.shareMessage, gallery.$location.$$absUrl);
                   gallery.showModal = !gallery.showModal">
      <img src="https://i.imgur.com/yT0s902.png">
    </div>
</div>

<script>
loadAudio();
audio.addEventListener("canplaythrough", playAudio, false);

function addLobbyNav() {
  var geometry = new THREE.PlaneBufferGeometry(.15*camera.position.y, .15*camera.position.y);
  var material;
  var lobbyNav;
  var loader = new THREE.TextureLoader();

  loader.load(
    'assets/brand/rem-radha-ball.png',

    function ( texture ) {
      material = new THREE.MeshBasicMaterial({
        side: THREE.DoubleSide,
        map: texture
      });
      lobbyNav = new THREE.Mesh(geometry, material);
      lobbyNav.position.set(camera.position.x, (camera.position.y - .5*camera.position.y), camera.position.z);
      lobbyNav.rotation.x = -Math.PI / 2;
      scene.add(lobbyNav);
    },

    function ( xhr ) {
      console.log ( (xhr.loaded / xhr.total * 100) + '% loaded' );
    },

    function ( xhr ) {
      console.log( 'error loading preview for install preview' );
    }
  );

}
</script>
